* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, red, purple);
  }
  
  .main-container {
    background-color: white;
    opacity: 0.7;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    z-index: 0;
  }
  
  .gameArea1 {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }
  
  .gameArea2 {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }
  
  .player1Area,
  .player2Area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  #player1Name,
  #player2Name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .score1,
  .score2 {
    color: rgb(214, 43, 72);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  .player1Score,
  .player2Score {
    background-color: rgb(214, 43, 72);
    padding: 18px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
  }
  
  .current1,
  .current2 {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  #currentScoreNumber1,
  #currentScoreNumber2 {
    color: white;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .turnColor {
    background-color: #ffd8d8;
    width: 50%;
    height: 100%;
  }
  
  .gameControl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 80%;
  }
  
  .newGame,
  .rollDice,
  .hold {
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid white;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .newGame:hover,
  .rollDice:hover,
  .hold:hover {
    opacity: 0.8;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  